

.form-container {
  flex-grow: 0;
}

p.error-message {
  color: var(--text-danger);
}

.auth-form {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  color: var(--text-light);

}

.auth-form > * {
  margin-bottom: 0.75rem;
}

.auth-input-container {
  position: relative;
}

.auth-input-container label {
  color: var(--text-color-tertiary);
  position: absolute;
  font-size: 10px;
  top: 0.25rem;
  left: 0.5rem;
}

.auth-input {
  width: 100%;
  padding: 1.25rem 0.5rem 0.5rem;
  font-size: 16px;
  border: 1px solid var(--border-color-main);
  border-radius: 4px;
  color: var(--text-color-primary);
  background-image: none !important;
  /* prevent lastpass */
  outline: none;
}

.auth-input:focus {
  border-color: var(--text-color-primary);
}

button,
a.button {
  font-size: 16px;
  padding: 0.75rem;
  width: 100%;
  color: var(--bg-color-main);
  background-color: var(--bg-color-secondary);
  font-weight: bold;
  text-decoration: none;
  border: none;
  text-align: center;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--bg-color-tertiary);
}

.form-switch {
  cursor: pointer;
  color: var(--link-color);
}

@media screen and (min-width: 480px) {
  .form-container {
    margin: auto;
    flex-grow: 0;
  }

  .auth-form {
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border: 1px solid var(--border-color-main);
    border-radius: 8px;
  }
}
