.NewNotebookForm-container {
  width: 300px;
  text-align: center;
  position: fixed;
  left: 50%;
  bottom: 1rem;
  display: none;
  color: var(--text-color-primary);
  transform: translate(-50%);
}

.NewNotebookForm {
  color: var(--text-color-primary);
}

.NewNotebookForm-container.Active {
  display: block;
}

.NewNotebookForm > *:not(last-child) {
  margin-bottom: 0.5rem;
}

.NewNotebookForm .menu-option {
  cursor: pointer;
  border-radius: 4px;
  color: var(--text-color-primary);
  font-weight: normal;
  background-color: var(--bg-color-main);
  border: 1px solid var(--border-color-main);
  padding: 0.75rem 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.NewNotebookForm .auth-input {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}