.PopupDrawer-container {
  background-color: var(--bg-color-secondary);
  position: fixed;
  border-radius: 40px;
  bottom: 20px;
  right: 20px;
}

.PopupDrawer {
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1rem 0;
  color: var(--text-color-secondary);
  border-radius: 40px 40px 0 0;
  position: relative;
  bottom: 100%;
  display: none;
}

.PopupDrawer.active {
  display: flex;
}

.PopupDrawer li {
  list-style: none;
  cursor: pointer;
}

.PopupDrawer-button {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.PopupDrawer-button.active {
  transform: rotate(180deg);
  border-radius: 50% 50% 0 0;
}

.PopupDrawer,
.PopupDrawer-button {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}