.NoteDetailPage {
  display: flex;
  flex-direction: column;
}

.NoteDetailPage .note-head {
  border-bottom: 1px solid var(--border-color-main);
  margin-bottom: 0.75rem;
}

.NoteDetailPage .note-title,
.NoteDetailPage .note-details {
  margin-bottom: 0.4rem;
}

.NoteDetailPage .note-title{
  font-weight: bold;
  font-size: 20px;
}

.NoteDetailPage .note-details {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 14px;
  color: var(--text-color-tertiary);
}

.NoteDetailPage .note-field {
  font-size: 16px;
  flex-grow: 1;
  line-height: 1.5;
  resize: none;
}

.NoteDetailPage .note-title,
.NoteDetailPage .note-field {
  border: none;
  outline: none;
  width: 100%;
}